[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none
